#carousel {
    position: relative;
    width: 1275px;
    height: 300px;
    margin-left: 5px;
    margin-top: 118px;
    margin-bottom: 120px;
    padding: 10px 40px;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: #eee;
    display: flex;
    overflow: hidden;
}

.arrow {
    position: absolute;
    top: 130px;
}

.arrow:focus {
    outline: none;
}

.arrow:hover {
    background: #ccc;
    cursor: pointer;
}

.power {
    width: 40px;
    height: 40px;
}

#left {
    left: 3px;
}

#right {
    right: 3px;
}

.series {
    width: 395px;
    height: 200px;
    float: left;
    padding: 50px 19px 100px 2px;
    position: relative;
    max-width: 100%;
    display: flex;
    transition: transform 500ms;
}

#slides {
    height: 300px;
    width: 1250px;
    margin: 0;
    padding-left: 20px;
    position: relative;
    list-style: none;
    font-size: 0;
    flex: 1 1 0;
}

.slide {
    opacity: 1;
    position: relative;
    transition: transform 500ms;
}

.showing {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#slides:hover .series {
    transform: translateX(-6%);
}

.slide:hover ~ .slide {
    transform: translateX(4%);
    transition: transform 500ms;
}

.slide .series:hover {
    transform: scale(1.3) !important;
    z-index: 2;
}
